function format(val) {
  if(typeof val === 'number') {
    val+=''
  }
  if(typeof val !== 'string') return
  if(val.length <= 4) return val
  var tail = val.slice(-4).slice(0,1)
  var head = val.slice(0,val.length-4)
  var newVal = head+'.'+tail+ '万'
  return newVal
}
function singers(arr) {
  if(typeof arr !== 'object') return
  if(!arr.length) return
  if(arr.length === 1) return arr[0].name
  var names = '';
  for (var i = 0; i < arr.length; i++) {
    names += arr[i].name + ' / '
  }
  return names.substring(0, names.length - 3)
}
function formatTimeSecond(second){
	if(typeof second !== 'number') return '00:00'
	if(second === 0) return '00:00'
	var time = Math.floor(second)
	var remainder = time % 60
	remainder = remainder >= 10 ? remainder : '0' + remainder
	var result = Math.floor(time / 60)
	result = result >= 10 ? result : '0' + result
	var s = 0
	if(result >= 1){
		s =  result + ':' + remainder
	} else {
		s = 0 + ':' + remainder
	}
	return s
}
module.exports = {
  formatCount: format,
  singers: singers,
  formatTimeSecond:formatTimeSecond
}